// Container configuration for all processes
process {
    
    // // Process-specific containers
    withName: "FASTP_TRIM" {
        container = "${params.singularity_container_dir}/fastp.sif"
    }

    withName: "FASTQC" {
        container = "${params.singularity_container_dir}/fastqc.sif"
    }
    
    withName: "BWA_MEM" {
        container = "${params.singularity_container_dir}/bwa.sif"
    }

    withName: "SAMTOOLS_.*" {
        container = "${params.singularity_container_dir}/samtools.sif"
    }

    withName: 'GATK4_.*' {
        container = "${params.singularity_container_dir}/gatk4.sif"
    }

    withName: "BAMTOOLS_STATS" {
        container = "${params.singularity_container_dir}/bamtools.sif"
    }
    
    withName: "BCFTOOLS_.*" {
        container = "${params.singularity_container_dir}/bcftools.sif"
    }
    
    withName: "TAG_UMI" {
        container = "${params.singularity_container_dir}/pysam.sif"
    }

    withName: "TABIX" {
        container = "${params.singularity_container_dir}/tabix.sif"
    }

    withName: "MULTIQC" {
        container = "${params.singularity_container_dir}/multiqc.sif"
    }
        
    withName: CNV_FACETS {
        container = "${params.singularity_container_dir}/cnvfacets.sif"
    }
    
    withName: "CNVKIT_.*" {
        container = "${params.singularity_container_dir}/cnvkit.sif"
    }

    withName: "VCF2MAF" {
        container = "${params.singularity_container_dir}/vcf2maf.sif"
    }

    withName: "SEQUENZAUTILS_.*" {
        container = "${params.singularity_container_dir}/sequenzautils.sif"
    }
}