env {
    // NXF_OFFLINE = true
    // NXF_HOME = "$HOME/.nextflow"
    NXF_DISABLE_CHECK_LATEST = true
}

singularity {
    enabled = true
    pullTimeout = '2h'  // Set timeout to 1 hour (adjust as needed)
    autoMounts = true
}

// Use params to define container paths instead of variables
params {
    // Container directory - this is the proper way to define paths
    singularity_container_dir = "/home/zhonggr/projects/250224_DFSP_WES/containers/singularity"
    reference_base            = "/home/zhonggr/projects/250224_DFSP_WES/data/Reference"
    genome                    = "GRCh38"
}

// Always overwrite the log file
cleanup = true

// Include the configs
// includeConfig './conf/container.config'
includeConfig "conf/container.config"
includeConfig "conf/genome.config"


// executor {
//     cpus = 10
// }

// process {
//     // Default container settings
//     container = null
    
//     // Specific container for FASTQC process
//     withName: 'FASTQC' {
//         container = "${singularity_container_dir}/fastqc-0.12.1.img"
//     }

//     // resourceLimits {
//     //     memory = 32.GB
//     //     cpus = 16
//     // }

//     // withName: ".*" {
//     //     time = 72.h
//     // }
// }

// Add profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    // HPC SLURM profile
    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--qos=normal --partition=intel'
        params {
            // Use HPC paths
            singularity_container_dir = "/home/zhonggr/projects/250224_DFSP_WES/containers/singularity"
            max_cpus = 32  // Allow more resources on the HPC
            max_memory = '128.GB'
            max_time = '72.h'
        }
    }
}