// Initialize the Nextflow DSL2 configuration
// manifest {
//     name            = 'DFSP WES Pipeline'
//     author          = 'Zhong Guorui'
//     homePage        = 'https://github.com/grgrzhong/DFSP_WES'
//     description     = 'Whole Exome Sequencing Analysis Pipeline for DFSP'
//     mainScript      = 'main.nf'
//     nextflowVersion = '>=21.10.6'
//     version         = '1.0.0'
// }

// Define the container tool
// singularity {
//     enabled = true
//     pullTimeout = '2h'
//     autoMounts = true
//     cacheDir = "/home/zhonggr/projects/250224_DFSP_WES/containers/singularity"
// }

apptainer {
    enabled = true
    pullTimeout = '2h'
    autoMounts = true
    cacheDir = "/home/zhonggr/projects/250224_DFSP_WES/containers/singularity"
}

// Use params to define container paths instead of variables
params {

    reference_base              = "/home/zhonggr/projects/250224_DFSP_WES/data/reference"
    genome                      = "GRCh38"
    max_memory                  = 128.GB
    max_cpus                    = 16
    max_time                    = 72.h
    default_cpus                = 4
    default_memory              = 8.GB
    defaultProfile              = 'standard'
    assay_type                  = "wes"
    publish_dir_mode            = "copy"
    outdir                      = "${launchDir}/results"
    save_trimmed_fastq          = true
    save_mapped_bam             = true
    save_umi_bam                = true
    save_sorted_bam             = true
    save_markdup_bam            = true
    save_recali_bam             = true
    singularity_container_dir   = "/home/zhonggr/projects/250224_DFSP_WES/containers/singularity"
}


// cleanup = true
process {
    withLabel: 'process_low' {
        cpus = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }
    withLabel: 'process_medium' {
        cpus = { 4 * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withLabel: 'process_high' {
        cpus = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
    }
}

// Profile settings
profiles {

    // Local computer, adjusted for local runs
    local {
        process.executor = "local"

        // Set local machine parameters
        params {
            max_memory = 48.GB      // Reserve 12GB for system
            max_cpus = 16           // Reserve 4CPUs for system
            max_time = 168.h        // Run 7 days
        }

        // Default resources for all processes
        process {
            cpus = 2
            memory = 4.GB
            
            // Error handling
            errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
            maxRetries = 3
        }
        
        // Execution control for local runs
        executor {
            // Run only <queueSize> tasks in parallel
            // Limit parallel tasks based on your system capacity
            queueSize = 10  
        }
    }
    
    // HKU HPC: submit nextflow as job as there is limitation of 
    hpc {
        process.executor = "local"
        // process.executor = "slurm"
        // process.queue = 'normal'
        // process.clusterOptions = '--qos=normal --partition=amd'
        // singularity.enabled = true
        
        // Default resources for all processes
        process {
            cpus = {2 * task.attempt }
            memory = { 4.GB * task.attempt }
            
            // Error handling
            errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
            maxRetries = 3
        }

        // Queue limit to avoid overwhelming the scheduler
        executor {
            queueSize = 30
            pollInterval = '2s'
            // queueStatInterval = '1 min' // Check queue status every minute
            // submitRateLimit   = '10 sec' // Wait 10 seconds between job submissions
        }
    }
}

// // Nextflow plugins
// plugins {
//     id 'nf-schema@2.2.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
//     id 'nf-prov@1.2.2'   // Provenance reports for pipeline runs
// }

// Include the configs
includeConfig "conf/base.config"
includeConfig "conf/genome.config"
includeConfig "conf/module.config"
includeConfig "conf/container.config"
