params {
    // Adapter sequences
    adapters {
        illumina {
            adapter      = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
            adapter_r2   = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
        }
        // nextera {
        //     adapter      = 'CTGTCTCTTATACACATCT'
        //     adapter_r2   = 'CTGTCTCTTATACACATCT'
        // }
    }
    
    // UMI parameters
    umi {
        enabled     = true
        location    = 'per_read'
        length      = 8
    }
}