// Container configuration for all processes
process {
    // Default container settings
    container = null  // No container by default
    
    // // Process-specific containers
    // withName: 'FASTQC' {
    //     container = "${params.singularity_container_dir}/fastqc-0.12.1.img"
    // }
    
    // withName: 'MULTIQC' {
    //     container = "${params.singularity_container_dir}/multiqc-1.14.sif"
    // }
    
    // withName: 'BWA_.*' {
    //     container = "${params.singularity_container_dir}/bwa-0.7.17.sif"
    // }
    
    // withName: 'GATK.*' {
    //     container = "${params.singularity_container_dir}/gatk-4.3.0.sif" 
    // }
    
    // // Pattern matching for process names
    // withName: '.*:TRIMMING' {
    //     container = "${params.singularity_container_dir}/trimmomatic-0.39.sif"
    // }

    withName: CNV_FACETS {
        container = "${params.singularity_container_dir}/cnv_facets-0.16.1.sif"
    }
}