// Genome reference file paths
params {
    genomes {
        "GRCh38" {
            // Reference genome files
            fasta                = "${params.reference_base}/Gencode/gencode.hg38.v36.primary_assembly.fa"
            fai                  = "${params.reference_base}/Gencode/gencode.hg38.v36.primary_assembly.fa.fai"
            dict                 = "${params.reference_base}/Gencode/gencode.hg38.v36.primary_assembly.dict"
            dbsnp                = "${params.reference_base}/dbSNP.vcf.gz"
            dbsnp_tbi            = "${params.reference_base}/dbSNP.vcf.gz.tbi"
            intervals            = "${params.reference_base}/Exome/xgen-exome-hyb-panel-v2-hg38_200bp_sorted_merged/xgen-exome-hyb-panel-v2-hg38_200bp_sorted_merged.bed"
            bait_intervals       = "${params.reference_base}/Exome/xgen-exome-hyb-panel-v2/hg38/xgen-exome-hyb-panel-v2-probes-hg38.interval_list"
            target_intervals     = "${params.reference_base}/Exome/xgen-exome-hyb-panel-v2/hg38/xgen-exome-hyb-panel-v2-targets-hg38.interval_list"

            // Bed file for targeted regions
            exome_bed           = "${params.reference_base}/Exome/xgen-exome-hyb-panel-v2-hg38_200bp_sorted_merged/xgen-exome-hyb-panel-v2-hg38_200bp_sorted_merged.bed"
            
            // Population resources
            known_indels        = "${params.reference_base}/GRCh38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
            known_indels_tbi    = "${params.reference_base}/GRCh38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
            germline_resource   = "${params.reference_base}/Population_database/somatic-hg38_af-only-gnomad.hg38.vcf.gz"
            germline_resource_tbi = "${params.reference_base}/Population_database/somatic-hg38_af-only-gnomad.hg38.vcf.gz.tbi"
            
            // Additional GATK-specific resources
            pon                 = "${params.reference_base}/pon/pon.vcf.gz"
            pon_tbi             = "${params.reference_base}/pon/pon.vcf.gz.tbi"
            
            // Funcotator annotation database
            funcotator          = "${params.reference_base}/Funocator_Datasource/funcotator_dataSources.v1.7.20200521s/"
            
            // GetPileupSummaries resource
            contamination_variants = "${params.reference_base}/GetPileupSummary/small_exac_common_3.hg38.vcf.gz"
            contamination_variants_tbi = "${params.reference_base}/GetPileupSummary/small_exac_common_3.hg38.vcf.gz.tbi"
            
            // Annovar resources
            annovar_db          = "${params.reference_base}/annovar/humandb"
            annovar_buildver    = "hg38"
            annovar_protocols   = ["refGene", "cytoBand", "dbnsfp33a", "gnomad_exome", 
                                "avsnp150", "clinvar_20221231", "cosmic70"]
            annovar_operation   = ["gx", "r", "f", "f", "f", "f", "f"]
        
        }
    }
}