// Description: Module configuration 
process {

    withName: "FASTP_TRIM" {
        publishDir = (
                [
                    [
                        mode: params.publish_dir_mode,
                        path: {
                            "${params.outdir}/preprocessing/fastq_trimmed/" +
                            "${meta.id}"
                        },
                        pattern: "*_trimmed_{1,2}.fastq.gz",
                        enabled: params.save_trimmed_fastq
                    ],
                    [
                        mode: params.publish_dir_mode,
                        path: { "${params.outdir}/reports/fastp/${meta.id}" },
                        pattern: "*.{json,html,log}"
                    ]
            ]
        )
    }

    withName: "FASTQC" {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reports/fastqc/${meta.id}" },
            pattern: "*.{zip,html}"
        ]
    }

    withName: "BWA_MEM" {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/bam/${meta.id}" },
            pattern: "*.bam",
            enabled: params.save_mapped_bam
        ]
    }

    withName: "TAG_UMI" {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/bam/${meta.id}" },
            pattern: "*.bam",
            enabled: params.save_umi_bam
        ]
    }

    withName: "SAMTOOLS_SORT" {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/bam/${meta.id}" },
            pattern: "*.bam",
            enabled: params.save_sorted_bam
        ]
    }

    withName: "SAMTOOLS_INDEX_MARKDUP" {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/bam/${meta.id}" },
            pattern: "*.bai",
            enabled: params.save_markdup_bam
        ]
    }

    withName: "SAMTOOLS_INDEX_RECAL" {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/bam/${meta.id}" },
            pattern: "*.bai",
            enabled: params.save_recali_bam
        ]
    }

    withName: "GATK4_MARKDUPLICATES" {
        publishDir = (
                [
                    [
                        path: {
                            "${params.outdir}/preprocessing/markduplicates/${meta.id}"
                        },
                        mode: params.publish_dir_mode,
                        pattern: "*.bam",
                        enabled: params.save_markdup_bam
                    ],
                    [
                        path: {
                            "${params.outdir}/reports/markduplicates/${meta.id}"
                        },
                        mode: params.publish_dir_mode,
                        pattern: "*metrics.txt"
                    ]
                ]
        )
    }
    
    withName: "GATK4_BASERECALIBRATOR" {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/recal_table/${meta.id}" },
            pattern: "*.table"
        ]
    }

    withName: "GATK4_APPLYBQSR" {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/recalibrated/${meta.id}" },
            pattern: "*.{bam,bai,md5}",
            enabled: params.save_recali_bam
        ]
    }
    
    withName: "GATK4_COLLECTHSMETRICS" {
        publishDir = [
            path: { "${params.outdir}/reports/hsmetrics/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*_hs_metrics.txt"
        ]
    }
    
    withName: "BAMTOOLS_STATS" {
        publishDir = [
            path: { "${params.outdir}/reports/bamstats/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*_aln_stat.txt"

        ]
    }
    
    withName: "GATK4_GETPILEUPSUMMARIES_.*" {
        publishDir = [
            path: {
                "${params.outdir}/variant_calling/mutect2/${meta.tumour_id}" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.pileups.table"
        ]
    }

    withName: "GATK4_CALCULATECONTAMINATION" {
        publishDir = [
            path: {
                "${params.outdir}/variant_calling/mutect2/${meta.tumour_id}" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.{contamination,segmentation}.table"
        ]

    }

    withName: "GATK4_MUTECT2_.*" {
        publishDir = [
            path: {
                "${params.outdir}/variant_calling/mutect2/${meta.tumour_id}" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,tbi,stats,bam,f1r2.tar.gz,log}"
        ]
    }
    
    withName: "GATK4_LEARNREADORIENTATIONMODEL" {
        publishDir = [
            path: {
                "${params.outdir}/variant_calling/mutect2/${meta.tumour_id}" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.readorientationmodel.tar.gz"
        ]

    }
    
    withName: "GATK4_FILTERMUTECTCALLS" {
        publishDir = [
            path: {
                "${params.outdir}/variant_calling/mutect2/${meta.tumour_id}" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,log}"
        ]

    }

    withName: "BCFTOOLS_NORM" {
        publishDir = [
            enabled: false
        ]
    }

    withName: "BCFTOOLS_VIEW" {
        publishDir = [
            enabled: false
        ]
    }
    
    withName: "BCFTOOLS_ANNOTATE_REPEATMASKER" {
        publishDir = [
            enabled: false
        ]
    }

    withName: "BCFTOOLS_ANNOTATE_BLACKLIST" {
        publishDir = [
            enabled: false
        ]
    }
    
    withName: "MUTECT2_CALL:FILTER_REPEATMASKER_BLACKLIST" {
        publishDir = [
            path: {
                    "${params.outdir}/variant_calling/mutect2/${meta.tumour_id}" 
                },
                mode: params.publish_dir_mode,
                pattern: "*.{vcf.gz,vcf.gz.tbi}"
        ]

    }

    withName: "VARIANT_ANNOTATION:FUNCOTATOR" {
        publishDir = [
            path: {
                    "${params.outdir}/variant_annotation/funcotator/${meta.id}" 
                },
                mode: params.publish_dir_mode,
                pattern: "*.{maf.gz,.txt}"
        ]
    }

    withName: "ANNOVAR" {
        publishDir = [
            path: {
                    "${params.outdir}/variant_annotation/annovar/${meta.id}" 
                },
                mode: params.publish_dir_mode,
                pattern: "*.{.txt}"
        ]
    }

    withName: "CNV_FACETS" {
        publishDir = [
            path: {
                "${params.outdir}/variant_calling/cnv/facets/${meta.tumour_id}" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.{png,pdf,gz,tbi}"

        ]
    }
    
    withName: "CNVKIT_REFERENCE" {
        publishDir = [
            path: {
                "${params.outdir}/variant_calling/cnv/cnvkit/${meta.tumour_id}" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.cnn"

        ]
    }

    withName: "VCF2MAF" {
        publishDir = [
            path: {
                "${params.outdir}/annotation/annovar/${meta.tumour_id}" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.maf"

        ]
    }


}